<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myandroidlib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myandroidlib.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CanClearEditTextActivity" />
        <activity android:name="com.example.myandroidlib.RiseNumberActivity" />
        <activity android:name=".PhotoViewActivity" />
        <activity android:name=".ScrollActivity"></activity>
        <activity android:name=".ProgressBarActivity"></activity>
        <activity android:name=".LockPatterActivity"></activity>
        <activity android:name=".GifShowActivity"></activity>
            
    </application>

</manifest>
